<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add new category</title>
    <link rel="stylesheet" href="add_category.css">
</head>

<body>

<div class="heading">
    <h1>Category 🧺</h1>
</div>

<div class="title1">
    <h3>Add new category</h3>
</div>


<form action="/add_category_process" method="POST">

    <div class="line1"></div>

    <div class="form-row form-group">
        <div class="form-group col-md-4">
            <label>Name:</label>
            <input type="text" class="form-control" id="name_prod" name="name_prod">
        </div>
    </div>


    <div class="form-row form-group">
        <div class="form-group col-md-4">
            <button type="submit" class="button1">Save</button>
        </div>
    </div>

</form>

<div class="line2"></div>
<div class="line3"></div>
<div class="line4"></div>
<p>mistake_mistake_mistake_mistake_mistake</p>

<form method="POST">
    <button formaction="/manager_homepage" class="button4">Homepage</button>
    <button formaction="/log_out" class="button5">Log out</button>
</form>

</body>

