<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>products in store</title>
  <link rel="stylesheet" href="cashier_stock_product.css">
</head>

<body>

<div class="heading">
  <h1>Products in Store 🍸</h1>
</div>

<form action="/cas_request_st_prod" method="POST">
  <label>Sort by number: </label>
  <select id="sort_product_st_num" name="sort_product_st_number">
    <option value="asc">ASC</option>
    <option value="desc">DESC</option>
    <!--        <input type="submit" value="Submit">-->
  </select>
  <label>Sort by name: </label>
  <select id="sort_product_st_name" name="sort_product_st_name">
    <option value="asc">ASC</option>
    <option value="desc">DESC</option>
    <!--        <input type="submit" value="Submit">-->
  </select>
  <input class="check" type="checkbox" id="check_with_prom" name="check_with" checked>
  <label class="lab1">promotion</label>
  <input class="check" type="checkbox" id="check_without_prom" name="check_without" checked>
  <label class="lab1">no promotion</label>
  <label>UPC:</label>
  <input type="text" class="form-control" id="upc" name="upccc">
  <button type="submit" class="button1">Search</button>
</form>

<table >
  <!-- Table header -->
  <thead>
  <tr>
    <th scope="col">UPC</th>
    <th scope="col">ID Product</th>
    <th scope="col">Selling price</th>
    <th scope="col">Number</th>
    <th scope="col">Promotional</th>
    <th scope="col">Product Name</th>
    <th scope="col">Characteristics</th>

  </tr>
  </thead>
  <!-- Table footer -->
  <tfoot>
  <tr>
    <td>END</td>
  </tr>
  </tfoot>
  <!-- Table body -->
  <tbody>
  {{ range . }}
  <tr>
    <td>{{ .UPC }}</td>
    <td>{{ .IDProduct }}</td>
    <td>{{ .SellingPrice }}</td>
    <td>{{ .Number }}</td>
    <td>{{ .Promotional }}</td>
    <td>{{ .ProductName }}</td>
    <td>{{ .Characteristics }}</td>

    <!--            <td><input type="button"-->
    <!--                       value="submit" onclick="show()" /></td>-->
    <!--                       formaction="" /></td>-->


    <!-- може бути не назва атрибутів -->
  </tr>

  {{ end }}
  </tbody>
</table>

<form method="POST">
  <button formaction="/manager_homepage" class="button4">Homepage</button>
  <button formaction="/log_out" class="button5">Log out</button>
</form>
<script>
  function show() {
    var rowId =
            event.target.parentNode.parentNode.id;
    //this gives id of tr whose button was clicked
    var data =
            document.getElementById(rowId).querySelectorAll(".row-data");
    /*returns array of all elements with
    "row-data" class within the row with given id*/

    var name = data[0].innerHTML;
    var age = data[1].innerHTML;

    alert("Name: " + name + "\nAge: " + age);
  }
</script>
</body>

</html>
