<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manager_homepage</title>
    <link rel="stylesheet" href="manager_homepage.css">
</head>

<body>
    <div class="heading">
        <h1>Your role – Manager 😎</h1>
    </div>

    <div class="title1">
        <p>Choose category:</p>
    </div>

    <div class="line1"></div>

    <form method="POST">
        <button formaction="/employee" class="button0">Employee</button>
        <button formaction="/clients" class="button1">Clients</button>
        <button formaction="/categories" class="button1">Categories</button>  <!--go to manager_category.html-->
        <button formaction="/all_products" class="button1">All products</button>
        <button formaction="/products_in_stock" class="button1">Products in Stock</button>
    </form>

    <div class="line2"></div>
    <div class="line3"></div>
    <div class="line4"></div>

    <div class="title1">
        <p>Additionally:</p>
    </div>

    <div class="line1"></div>

    <form method="POST">
        <button formaction="/print_report" class="button2">Work with Checks</button>

    </form>

    <div class="line2"></div>
    <div class="line3"></div>
    <div class="line4"></div>

    <form method="POST">
        <button formaction="/manager_homepage" class="button4">Homepage</button>
        <button formaction="/log_out" class="button5">Log out</button>
    </form>

</body>

</html>