<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manager_homepage</title>
    <link rel="stylesheet" href="manager_homepage.css">
</head>

<body>
<div class="heading">
    <h1>Your role – Manager👩‍💼</h1>
</div>
<div class="title1">
    <p>Choose category:</p>
</div>
<div class="line1"></div>
<form action="/employee" method="POST">

        <div class="form-row form-group">
<!--            <div class="form-group col-md-4">-->
<!--                <button onclick="location.href='employee.html'">Employee</button>-->
<!--            </div>-->
            <form action="../employee/employee.html" method="POST">
                <input type="submit"/>
            </form>
<!--        <div class="group col-md-4">-->
<!--            <input type="radio" class="radio1" id="clients" name="category" value="clients">-->
<!--            <label for="clients">Clients</label>-->
<!--        </div>-->
<!--        <div class="group col-md-4">-->
<!--            <input type="radio" class="radio1" id="product_category" name="category" value="product_category">-->
<!--            <label for="product_category">Product Categories</label>-->
<!--        </div>-->
<!--        <div class="group col-md-4">-->
<!--            <input type="radio" class="radio1" id="all_products" name="category" value="all_products">-->
<!--            <label for="all_products">All Products</label>-->
<!--        </div>-->
<!--        <div class="group col-md-4">-->
<!--            <input type="radio" class="radio1" id="store_products" name="category" value="store_products">-->
<!--            <label for="store_products">Products in Store</label>-->
<!--        </div>-->
        <div class="line4"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>




</form>
</body>

</html>