<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search client</title>
    <link rel="stylesheet" href="search_client.css">
</head>

<body>

<div class="heading">
    <h1>Client 😻: specific search</h1>
</div>


<form action="/search_client_percentage" method="POST">
    <input type="text" class="form-control" id="ser_per" name="search_percentage">
    <button type="submit" class="button1">Search</button>
</form>


<h3>Search by Percentage: </h3>

<table>
    <!-- Table header -->
    <thead>
    <tr>
        <th scope="col">Card Number</th>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col">Patronymic</th>
        <th scope="col">Telephone</th>
        <th scope="col">City</th>
        <th scope="col">Street</th>
        <th scope="col">Index</th>

    </tr>
    </thead>
    <!-- Table footer -->
    <tfoot>
    <tr>
        <td>END</td>
    </tr>
    </tfoot>
    <!-- Table body -->
    <tbody>
    {{ range . }}
    <tr>
        <td>{{ .CardNumber }}</td>
        <td>{{ .LastName }}</td>
        <td>{{ .FirstName }}</td>
        <td>{{ .Patronymic }}</td>
        <td>{{ .Telephone }}</td>
        <td>{{ .City }}</td>
        <td>{{ .Street }}</td>
        <td>{{ .Index }}</td>
        <!--            <td><input type="button"-->
        <!--                       value="submit" onclick="show()" /></td>-->
        <!--                       formaction="" /></td>-->


        <!-- може бути не назва атрибутів -->
    </tr>

    {{ end }}
    </tbody>
</table>

<form method="POST">
    <button formaction="/manager_homepage" class="button4">Homepage</button>
    <button formaction="/log_out" class="button5">Log out</button>
</form>
<!--<script>-->
<!--    function show() {-->
<!--        var rowId =-->
<!--            event.target.parentNode.parentNode.id;-->
<!--        //this gives id of tr whose button was clicked-->
<!--        var data =-->
<!--            document.getElementById(rowId).querySelectorAll(".row-data");-->
<!--        /*returns array of all elements with-->
<!--        "row-data" class within the row with given id*/-->

<!--        var name = data[0].innerHTML;-->
<!--        var age = data[1].innerHTML;-->

<!--        alert("Name: " + name + "\nAge: " + age);-->
<!--    }-->
<!--</script>-->
</body>

</html>
