<!--<!DOCTYPE html>-->
<!--<html lang="uk">-->

<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>search category</title>-->
<!--  <link rel="stylesheet" href="search_category.css">-->
<!--</head>-->

<!--<body>-->

<!--<div class="heading">-->
<!--  <h1>Category 🧺: specific search</h1>-->
<!--</div>-->


<!--<form action="/search_category_name" method="POST">-->
<!--  <input type="text" class="form-control" id="ser_cat" name="search_category_name">-->
<!--  <button type="submit" class="button1">Search</button>-->
<!--</form>-->


<!--<h3>Search by Name: </h3>-->

<!--<table>-->
<!--  &lt;!&ndash; Table header &ndash;&gt;-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th scope="col">Category ID</th>-->
<!--    <th scope="col">Category Name</th>-->

<!--  </tr>-->
<!--  </thead>-->
<!--  &lt;!&ndash; Table footer &ndash;&gt;-->
<!--  <tfoot>-->
<!--  <tr>-->
<!--    <td>END</td>-->
<!--  </tr>-->
<!--  </tfoot>-->
<!--  &lt;!&ndash; Table body &ndash;&gt;-->
<!--  <tbody>-->
<!--  {{ range . }}-->
<!--  <tr>-->
<!--    <td>{{ .CategoryID }}</td>-->
<!--    <td>{{ .CategoryName }}</td>-->
<!--    &lt;!&ndash;            <td><input type="button"&ndash;&gt;-->
<!--    &lt;!&ndash;                       value="submit" onclick="show()" /></td>&ndash;&gt;-->
<!--    &lt;!&ndash;                       formaction="" /></td>&ndash;&gt;-->


<!--    &lt;!&ndash; може бути не назва атрибутів &ndash;&gt;-->
<!--  </tr>-->

<!--  {{ end }}-->
<!--  </tbody>-->
<!--</table>-->

<!--<form method="POST">-->
<!--  <button formaction="/manager_homepage" class="button4">Homepage</button>-->
<!--  <button formaction="/log_out" class="button5">Log out</button>-->
<!--</form>-->
<!--&lt;!&ndash;<script>&ndash;&gt;-->
<!--&lt;!&ndash;    function show() {&ndash;&gt;-->
<!--&lt;!&ndash;        var rowId =&ndash;&gt;-->
<!--&lt;!&ndash;            event.target.parentNode.parentNode.id;&ndash;&gt;-->
<!--&lt;!&ndash;        //this gives id of tr whose button was clicked&ndash;&gt;-->
<!--&lt;!&ndash;        var data =&ndash;&gt;-->
<!--&lt;!&ndash;            document.getElementById(rowId).querySelectorAll(".row-data");&ndash;&gt;-->
<!--&lt;!&ndash;        /*returns array of all elements with&ndash;&gt;-->
<!--&lt;!&ndash;        "row-data" class within the row with given id*/&ndash;&gt;-->

<!--&lt;!&ndash;        var name = data[0].innerHTML;&ndash;&gt;-->
<!--&lt;!&ndash;        var age = data[1].innerHTML;&ndash;&gt;-->

<!--&lt;!&ndash;        alert("Name: " + name + "\nAge: " + age);&ndash;&gt;-->
<!--&lt;!&ndash;    }&ndash;&gt;-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->
<!--</body>-->

<!--</html>-->
